<div class="" style="">

  <div class="row" ng-repeat="p in projects track by $index" style="overflow:hidden;max-height:250px;background-color:white;margin:0 0 2em 0;">
    <div class="col-md-6" style="padding:0">
      <div style="max-height:250px;overflow:hidden;padding:0;position:relative;">
        <img ng-src="https://unsplash.it/350/250/?image={{$index + 2 * 100}}" sstyle="smax-height:110%;" style="width:100%;"/>
        <div style="position:absolute;top:50;bottom:0;left:0;right:0;padding:.5em;">
          <p ng-repeat="msg in p.messages" style="margin: 0 0 0 0;">
            <span style="padding:0 .5em;font-size:.85em;background-color:rgba(255,255,255,.75);sdisplay:inline;">
              <span style="font-weight:bolder;color:{{msg.user.color}};">{{msg.user.name}}:
              </span>{{msg.msg}}</span>
          </p>
          <div class="input-group input-group-sm" ng-show="p.showinputmsg" style="margin-top:.3em;">
            <input class="form-control" ng-keyup="$event.keyCode == 13 && sendmsg(p)" ng-model="p.msg" placeholder="send a message ..." type="text">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="sendmsg(p)" type="button">
                <span class="glyphicon glyphicon-gift" style="scolor:rgb(91, 99, 179);font-weight:bolder;"></span>
              </button>
              <button class="btn btn-default" ng-click="sendmsg(p)" type="button">go</button>
            </span>
          </div>
        </div>
        <div ng-show="!p.showinputmsg" style="position:absolute;bottom:0;right:0;padding:0 .5em .5em .5em;cursor:pointer;">
          <a ng-click="showInputmsg(p)">
            <span class="glyphicon glyphicon-comment" style="font-size:1.2em;padding:0 .5em 0 0;color:white;"></span>
          </a>
        </div>
        <div style="position:absolute;top:0;right:0;padding-top:.5em;">
          <a href="#">
            <span style="color:white;">10</span>
            <span class="glyphicon glyphicon-gift" style="font-size:1.2em;padding:0 .5em 0 0;color:white;"></span>
          </a>
          <a href="#">
            <span style="color:white;">5</span>
            <span class="glyphicon glyphicon-heart" style="font-size:1.2em;padding:0 .5em 0 0;color:white;"></span>
          </a>
        </div>
        <!--canvas id="canvas{{p.id}}" ng-mousedown="canvasMousedown($event)" ng-mousemove="canvasMousemove(p.id,$event)" ng-mouseup="canvasMouseup($event)" style="display:block;width:100%;height:100%;position:absolute;top:0;right:0;bottom:0;left:0;background-color:white;"></canvas-->
      </div>
    </div>
    <div class="col-md-6" style="padding:0 1em 1em 1em;">
      <h4 style="font-weight:bolder;margin-top:1em;">{{p.name}}</h4>
      <!--p style="sline-height:2.5em;dfont-size:1.3em;smargin:0 1em 0 0;stext-align:right;">
        <span class="glyphicon glyphicon-facetime-video" style="color:#F10C49;sfont-size:1.2em;padding:0 .5em 0 0;"></span>
        <span class="glyphicon glyphicon-user" style="color:#A70267;fsont-size:1.2em;"></span>
        <span style="sfont-size:1.2em;color:#A70267;display:inline-block;svertical-align:middle;">10</span>
      </p-->

      <p style="sfont-size:1.2em;font-weight:bold;margin:0em 0 .5em 0;">
        <span class="glyphicon glyphicon-map-marker" style="sfont-size:1.2em;padding:0 .5em 0 0;"></span>
        Insurgentes Sur 3000, Tlalpan
      </p>
      <p style="sfont-size:1.2em;font-weight:bold;margin:0 0 .5em 0;">
        <span class="glyphicon glyphicon-calendar" style="sfont-size:1.2em;padding:0 .5em 0 0;"></span>
        {{"2015-04-01" | date:'medium'}}
      </p>
      <div style="sheight:4em;overflow:hidden;margin:1em 0 1em 0;">
        <span ng-repeat="t in temps | limitTo:50" style="sfont-size:1.2em;">
          <span style="color:red;">#</span>{{t}}&nbsp;
        </span>
      </div>
      <div style="sheight:4em;overflow:hidden;">
        <p style="sfont-size:1.2em;stext-align:justify;">{{ p.description }}
        </p>
      </div>
    </div>
  </div>
  <!--div class="row">
    <div class="col-md-12">

      <div style="height:1em;position:relative;margin:1em 0 3em 0;">
        <div style="position:absolute;left:0;right:0;top:0;bottom:0;background-color:#dfe6e9;"></div>
        <div style="position:absolute;left:0;width:77%;top:0;bottom:0;background-color:#6d37b0;"></div>
        <div style="position:absolute;top:1.2em;font-weight:bold;">
          <span style="font-size:1.5em;">77%</span>
        </div>
      </div>

    </div>
  </div-->

</div>
