<div class="col-md-6 col-md-offset-3">
  <form>
    <h2>Login</h2>
    <div class="form-group">
      <label>email</label>
      <input class="form-control input-lg" ng-model="credentials.email" type="text"/>
    </div>
    <div class="form-group">
      <label>password</label>
      <input class="form-control input-lg" ng-model="credentials.password" type="password"/>
    </div>
  </form>
  <p>The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...</p>
  <div class="md-actions" layout-align="end center" layout="row">
    <span flex></span>
    <a class="btn btn-lg btn-primary" ng-click="login()">login</a>
  </div>
</div>
