<div class="row" style="height:70em;">
  <div class="col-md-12" style="background-color:white;">
    <div class="list-group">
      <a class="list-group-item" style="padding-bottom:7em;padding-top:7em;border-bottom:solid #f0f0f0 1px;" ui-sref="^.newproject">
        <h1 style="margin:auto;font-weight:300;text-align:center;">
          Create a new project
        </h1>
      </a>
      <a class="list-group-item" style="padding-bottom:7em;padding-top:7em;border-bottom:solid #f0f0f0 1px;" ui-sref="^.newitem">
        <h1 style="margin:auto;font-weight:300;text-align:center;">
          Publish items you want to share
        </h1>
      </a>
      <a class="list-group-item" style="padding-bottom:7em;padding-top:7em;bsorder-bottom:solid #f0f0f0 1px;" ui-sref="^.newoccupation">
        <h1 style="margin:auto;font-weight:300;text-align:center;">
          Publish habilities you want to share
        </h1>
      </a>
    </div>
  </div>
</div>
