<div class="row" style="height:70em;">
  <div class="col-md-10 col-md-offset-1" style="background-color:white;">
    <div style="font-size:1.3em;">
      <h1 style="margin:1em 0 .5em 0;font-weight:300;font-size:2.4em;">Complementa informacion sobre "{{item.name}}"</h1>
      <div class="row">
        <div class="col-md-12">
          <label>Selecciona una imagen</label>
          <input nv-file-select type="file" uploader="uploader"/><br/>
        </div>
      </div>
      <div class="row" ng-repeat="item in uploader.queue">
        <div class="col-md-6">
          <div ng-thumb="{ file: item._file, height: 100,width:100 }" style="swidth:200px;sheight:200px;"></div>
        </div>
        <div class="col-md-6">
          Name:
          <span ng-bind="item.file.name"></span><br/>
          <button ng-click="item.upload()">upload</button>
        </div>
      </div>
      <div class="form-group" style="margin-top:2em;">
        <label for="exampleInputEmail1">Donde esta este item?</label>
        <input class="form-control input-lg" ng-model="item.where">
        <span class="help-block" style="font-size:1em;">Describe de manera breve donde pueden ir por el item Ej: Esta afuera del metro perifierico.</span>
      </div>
      <div class="checkbox">
        <label for="exampleInputEmail1" style="font-weight:bolder;">
          <input class="" ng-model="item.allowcontact" type="checkbox">Quieres que te contacten proyectos por este item?</label>
      </div>
      <div style="text-align:center;padding:2em 0;">
        <button class="btn btn-primary btn-lg" ng-click="createItem()" style="width:40%;">Finish</button>
      </div>
    </div>
  </div>
</div>
