<style>
  .bootstrap-tagsinput {
    width: 100%;
    line-height: 2em;
  }
</style>
<div class="row" style="height:70em;">
  <div class="col-md-10 col-md-offset-1" style="background-color:white;">
    <div style="font-size:1.3em;">
      <h1 style="margin:1em 0 .5em 0;font-weight:300;font-size:2.4em;">Complementa informacion sobre "{{project.name}}"</h1>
      <div class='row'>
        <div class='col-md-12'>
          <label>Fecha inicio y fin:</label>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class='input-group date' ng-cal>
            <input class="form-control input-lg" type='text'/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class='col-md-6'>
          <div class='input-group date' ng-cal>
            <input class="form-control input-lg" type='text'/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <div class="form-group" style="margin-top:2em;">
            <label for="exampleInputEmail1">Que neceistas para este proyecto</label>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <div class="form-group">
            <input class="form-control input-lg" ng-model="item.tags" ng-tags style="width:100%;">
          </div>
        </div>
      </div>
      <div style="text-align:center;padding:2em 0;">
        <button class="btn btn-primary btn-lg" ng-click="createItem()" style="width:40%;">Finish</button>
      </div>
    </div>
  </div>
</div>
